<section class="container padding-top-3x padding-bottom-3x">
    <div class="row pt-2">
      <div class="col-md-3 col-sm-6 text-center mb-30"><span class="d-block display-4 text-gray-light mb-4"><i class="material-icons flight"></i></span>
        <h4 class="h6 mb-2">Free World Wide Shipping</h4>
        <p class="text-sm text-muted mb-0">Free shipping on all orders over $999</p>
      </div>
      <div class="col-md-3 col-sm-6 text-center mb-30"><span class="d-block display-4 text-gray-light mb-4"><i class="material-icons autorenew"></i></span>
        <h4 class="h6 mb-2">Money Back Guarantee</h4>
        <p class="text-sm text-muted mb-0">We return money within 30 days</p>
      </div>
      <div class="col-md-3 col-sm-6 text-center mb-30"><span class="d-block display-4 text-gray-light mb-4"><i class="material-icons headset_mic"></i></span>
        <h4 class="h6 mb-2">24/7 Online Support</h4>
        <p class="text-sm text-muted mb-0">Friendly 24/7 customer support</p>
      </div>
      <div class="col-md-3 col-sm-6 text-center mb-30"><span class="d-block display-4 text-gray-light mb-4"><i class="material-icons credit_card"></i></span>
        <h4 class="h6 mb-2">Secure Online Payments</h4>
        <p class="text-sm text-muted mb-0">We posess SSL / Secure Certificate</p>
      </div>
    </div>
  </section>