<section class="fw-section bg-secondary padding-top-3x padding-bottom-3x">
    <div class="container">
      <h3 class="text-center mb-30">Popular Brands</h3>
      <div class="owl-carousel pt-2" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: false, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:2}, &quot;470&quot;:{&quot;items&quot;:3},&quot;630&quot;:{&quot;items&quot;:4},&quot;991&quot;:{&quot;items&quot;:5},&quot;1200&quot;:{&quot;items&quot;:6}} }"><a class="d-block w-150 opacity-60" href="#"><img class="d-block m-auto" src="img/brands/01.svg" alt="Brand"></a><a class="d-block w-150 opacity-60" href="#"><img class="d-block m-auto" src="img/brands/02.svg" alt="Brand"></a><a class="d-block w-150 opacity-60" href="#"><img class="d-block m-auto" src="img/brands/03.svg" alt="Brand"></a><a class="d-block w-150 opacity-60" href="#"><img class="d-block m-auto" src="img/brands/04.svg" alt="Brand"></a><a class="d-block w-150 opacity-60" href="#"><img class="d-block m-auto" src="img/brands/05.svg" alt="Brand"></a><a class="d-block w-150 opacity-60" href="#"><img class="d-block m-auto" src="img/brands/06.svg" alt="Brand"></a></div>
    </div>
  </section>