<app-header></app-header>
<app-slider></app-slider>
<app-categories></app-categories>
<app-partner></app-partner>
<app-products></app-products>
<app-features></app-features>
<app-footer></app-footer>
