<section class="container-fluid padding-top-3x pb-5">
    <h3 class="text-center mb-30">Featured Products</h3>
    <div class="row">
      <!-- Special Offer-->
      <div class="col-xl-3 col-md-4">
        <div class="card pt-3 pb-2 mb-30">
          <div class="card-body text-center">
            <h2>Special Offer <span class='text-danger'>-30%</span></h2><a class="d-inline-block" href="shop-single.html"><img src="img/shop/special-offer02.jpg" alt="Special Offer"></a>
            <h3 class="h5 text-normal pt-3"><a class="navi-link" href="shop-single.html">FLOS Indoor Lighting</a></h3>
            <del class="lead text-muted mr-2">$800.00</del><span class="h4 text-danger">$560.00</span>
            <div class="mt-4">
              <div class="countdown countdown-alt" data-date-time="12/30/2019 12:00:00">
                <div class="item">
                  <div class="days">00</div><span class="days_ref">Days</span>
                </div>
                <div class="item">
                  <div class="hours">00</div><span class="hours_ref">Hours</span>
                </div>
                <div class="item">
                  <div class="minutes">00</div><span class="minutes_ref">Mins</span>
                </div>
                <div class="item">
                  <div class="seconds">00</div><span class="seconds_ref">Secs</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fetured Products-->
      <div class="col-xl-9 col-md-8">
        <div class="row">
          <!-- Item-->
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product-card mb-30">
              <div class="product-card-thumb"> <span class="product-badge text-danger">Sale</span><a class="product-card-link" href="shop-single.html"></a><img src="img/shop/th01.jpg" alt="Product">
                <div class="product-card-buttons">
                  <button class="btn btn-white btn-sm btn-wishlist" data-toggle="tooltip" title="Wishlist"><i class="material-icons favorite_border"></i></button>
                  <button class="btn btn-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="material-icons check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                </div>
              </div>
              <div class="product-card-details">
                <h3 class="product-card-title"><a href="shop-single.html">Storage Box</a></h3>
                <h4 class="product-card-price">
                  <del>$49.00</del>$38.00
                </h4>
              </div>
            </div>
          </div>
          <!-- Item-->
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product-card mb-30">
              <div class="product-card-thumb"><a class="product-card-link" href="shop-single.html"></a><img src="img/shop/th05.jpg" alt="Product">
                <div class="product-card-buttons">
                  <button class="btn btn-white btn-sm btn-wishlist" data-toggle="tooltip" title="Wishlist"><i class="material-icons favorite_border"></i></button>
                  <button class="btn btn-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="material-icons check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                </div>
              </div>
              <div class="product-card-details">
                <h3 class="product-card-title"><a href="shop-single.html">Lounge Chair</a></h3>
                <h4 class="product-card-price">$1420.00</h4>
              </div>
            </div>
          </div>
          <!-- Item-->
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product-card mb-30">
              <div class="product-card-thumb"><span class="product-rating text-warning"><i class="material-icons star"></i><i class="material-icons star"></i><i class="material-icons star"></i><i class="material-icons star_half"></i><i class="material-icons star_border"></i></span><a class="product-card-link" href="shop-single.html"></a><img src="img/shop/th16.jpg" alt="Product">
                <div class="product-card-buttons">
                  <button class="btn btn-white btn-sm btn-wishlist" data-toggle="tooltip" title="Wishlist"><i class="material-icons favorite_border"></i></button>
                  <button class="btn btn-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="material-icons check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                </div>
              </div>
              <div class="product-card-details">
                <h3 class="product-card-title"><a href="shop-single.html">Navy Box Bench</a></h3>
                <h4 class="product-card-price">$75.00</h4>
              </div>
            </div>
          </div>
          <!-- Item-->
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product-card mb-30">
              <div class="product-card-thumb"><span class="product-badge text-muted">Out of stock</span><a class="product-card-link" href="shop-single.html"></a><img src="img/shop/th06.jpg" alt="Product">
                <div class="product-card-buttons">
                  <button class="btn btn-white btn-sm btn-wishlist" data-toggle="tooltip" title="Wishlist"><i class="material-icons favorite_border"></i></button><a class="btn btn-white btn-sm" hre="shop-single.html">View Details</a>
                </div>
              </div>
              <div class="product-card-details">
                <h3 class="product-card-title"><a href="shop-single.html">LED Lighting</a></h3>
                <h4 class="product-card-price">$130.00</h4>
              </div>
            </div>
          </div>
          <!-- Item-->
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product-card mb-30">
              <div class="product-card-thumb"><a class="product-card-link" href="shop-single.html"></a><img src="img/shop/th09.jpg" alt="Product">
                <div class="product-card-buttons">
                  <button class="btn btn-white btn-sm btn-wishlist" data-toggle="tooltip" title="Wishlist"><i class="material-icons favorite_border"></i></button>
                  <button class="btn btn-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="material-icons check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                </div>
              </div>
              <div class="product-card-details">
                <h3 class="product-card-title"><a href="shop-single.html">Campfire Table</a></h3>
                <h4 class="product-card-price">$1087.00</h4>
              </div>
            </div>
          </div>
          <!-- Item-->
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product-card mb-30">
              <div class="product-card-thumb"><span class="product-rating text-warning"><i class="material-icons star"></i><i class="material-icons star"></i><i class="material-icons star"></i><i class="material-icons star"></i><i class="material-icons star_border"></i></span><a class="product-card-link" href="shop-single.html"></a><img src="img/shop/th08.jpg" alt="Product">
                <div class="product-card-buttons">
                  <button class="btn btn-white btn-sm btn-wishlist" data-toggle="tooltip" title="Wishlist"><i class="material-icons favorite_border"></i></button>
                  <button class="btn btn-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="material-icons check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                </div>
              </div>
              <div class="product-card-details">
                <h3 class="product-card-title"><a href="shop-single.html">Tissue Holder</a></h3>
                <h4 class="product-card-price">$76.40</h4>
              </div>
            </div>
          </div>
          <!-- Item-->
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product-card mb-30">
              <div class="product-card-thumb"> <span class="product-badge text-danger">Sale</span><a class="product-card-link" href="shop-single.html"></a><img src="img/shop/th10.jpg" alt="Product">
                <div class="product-card-buttons">
                  <button class="btn btn-white btn-sm btn-wishlist" data-toggle="tooltip" title="Wishlist"><i class="material-icons favorite_border"></i></button>
                  <button class="btn btn-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="material-icons check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                </div>
              </div>
              <div class="product-card-details">
                <h3 class="product-card-title"><a href="shop-single.html">Pendant Lamp</a></h3>
                <h4 class="product-card-price">
                  <del>$54.00</del>$27.00
                </h4>
              </div>
            </div>
          </div>
          <!-- Item-->
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product-card mb-30">
              <div class="product-card-thumb"><a class="product-card-link" href="shop-single.html"></a><img src="img/shop/th13.jpg" alt="Product">
                <div class="product-card-buttons">
                  <button class="btn btn-white btn-sm btn-wishlist" data-toggle="tooltip" title="Wishlist"><i class="material-icons favorite_border"></i></button>
                  <button class="btn btn-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="material-icons check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                </div>
              </div>
              <div class="product-card-details">
                <h3 class="product-card-title"><a href="shop-single.html">Office Chair</a></h3>
                <h4 class="product-card-price">$329.00</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>