<section class="hero-slider">
    <div class="owl-carousel large-controls dots-inside pb-4" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 8000 }">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="pr-3 pt-5 pb-0 py-md-5"><img class="d-block" src="img/hero-slider/01.png" alt="Product"></div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="padding-top-3x padding-bottom-3x px-3 px-lg-5 text-center text-md-left from-bottom">
              <h2>Check Our New Collection Of Lounge Seating Furniture</h2>
              <p class="text-sm text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p><a class="btn btn-primary mx-0 scale-up delay-1" href="shop-boxed-ls.html">View Collection</a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="pr-3 pt-5 pb-0 py-md-5"><img class="d-block" src="img/hero-slider/02.png" alt="Product"></div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="padding-top-3x padding-bottom-3x px-3 px-lg-5 text-center text-md-left from-bottom">
              <h2>Featured Collection Of Minimal &amp; Modern Office Desks</h2>
              <p class="text-sm text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p><a class="btn btn-primary mx-0 scale-up delay-1" href="shop-boxed-ls.html">View Collection</a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="pr-3 pt-5 pb-0 py-md-5"><img class="d-block" src="img/hero-slider/03.png" alt="Product"></div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="padding-top-3x padding-bottom-3x px-3 px-lg-5 text-center text-md-left from-bottom">
              <h2>Featured Collection Of Stylish Indoor Lighting Fixtures</h2>
              <p class="text-sm text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p><a class="btn btn-primary mx-0 scale-up delay-1" href="shop-boxed-ls.html">View Collection</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>